{
  "root": true,
  "extends": [
    "airbnb-typescript/base",
    "prettier"
  ],
  "plugins": [
    "import",
    "prettier"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
