{
  "root": true,
  "extends": ["airbnb-typescript/base", "prettier"],
  "plugins": ["import", "prettier"],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "test.{ts,tsx}",
          "test-*.{ts,tsx}",
          "**/*{.,_}{test,spec}.{ts,tsx}",
          "**/vitest.config.ts"
        ],
        "optionalDependencies": false
      }
    ]
  }
}
